<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration PUBLIC
        "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <classPathEntry location="C:\Users\edge\.m2\repository\mysql\mysql-connector-java\5.1.47\mysql-connector-java-5.1.47.jar"/>
    <context id="mybatistable" targetRuntime="MyBatis3">

        <!-- <plugin type="org.mybatis.generator.plugins.SerializablePlugin" /> -->
        <!-- <plugin type="org.mybatis.generator.plugins.EqualsHashCodePlugin"
            /> -->
        <!-- 生成to string -->
        <!--<plugin type="org.mybatis.generator.plugins.ToStringPlugin"/>-->

        <commentGenerator>
            <!-- 是否去除自动生成的注释 true：是 ： false:否 -->
            <property name="suppressAllComments" value="true"/>
            <!-- 是否生成注释代时间戳 -->
            <property name="suppressDate" value="true"/>
        </commentGenerator>

        <!-- 数据库连接 -->
        <!-- <jdbcConnection driverClass="com.microsoft.sqlserver.jdbc.SQLServerDriver" -->
        <!-- connectionURL="jdbc:sqlserver://192.168.20.5:1433;DatabaseName=shglold"
            userId="satrip" password="qwesza369"> -->
        <!-- </jdbcConnection> -->
        <jdbcConnection connectionURL="jdbc:mysql://192.168.10.183/mybatis"
                        driverClass="com.mysql.jdbc.Driver" userId="root" password="qwesza"/>

        <!-- 生成实体类 -->
        <javaModelGenerator targetPackage="com.example.demo1.entity1"
                            targetProject="src\main\java">
            <!-- 从数据库返回的值被清理前后的空格 -->
            <property name="trimStrings" value="true"/>
            <property name="enableSubPackages" value="false"/>
        </javaModelGenerator>

        <!-- *Mapper.xml 文件的位置 -->
        <sqlMapGenerator targetPackage="mybatis1"
                         targetProject="src\main\resources">
            <property name="enableSubPackages" value="false"/>
        </sqlMapGenerator>

        <!-- 生成接口 -->
        <javaClientGenerator targetPackage="com.example.demo1.mapper1"
                             targetProject="src\main\java" type="XMLMAPPER">
            <!--type="ANNOTATEDMAPPER">-->
            <property name="enableSubPackages" value="false"/>
        </javaClientGenerator>

        <!-- 配置表信息 -->
        <!--<table schema="mybatis" tableName="user" domainObjectName="User"-->
               <!--enableCountByExample="true" enableUpdateByExample="true"-->
               <!--enableDeleteByExample="true" enableSelectByExample="true"-->
               <!--selectByExampleQueryId="true">-->
        <!--</table>-->
        <table tableName="user">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>

    </context>
</generatorConfiguration>