<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <script src="webjars/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/layui/2.4.5/layui.js" charset="utf-8"></script>
    <link rel="stylesheet" href="webjars/layui/2.4.5/css/layui.css">
    <title>user</title>
</head>
<body>
${users}
<table border="1">
    <tr th:each="user: ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.age}"></td>
    </tr>
</table>
</body>
</html>