<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>

    <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
    <!--<script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
    <!--<script src="webjars/jquery/3.3.1/jquery.min.js"></script>-->
    <!--<script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <!--<link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!--<script src="webjars/vue/2.4.2/vue.min.js"></script>-->

</head>
<body>
<h1>12645</h1>
<div id="app">
    <form>
        <div class="form-group">
            <label for="exampleid">id</label>
            <input type="text" class="form-control" id="exampleid" v-model="message.id">
        </div>
        <div class="form-group">
            <label for="examplemile">mile</label>
            <input type="text" class="form-control" id="examplemile" v-model="message.mile">
        </div>
        <div class="form-group">
            <label for="examplecash">cash</label>
            <input type="text" class="form-control" id="examplecash" v-model="message.cash">
        </div>
        <div class="form-group">
            <label for="exampleprice">price</label>
            <input type="text" class="form-control" id="exampleprice" v-model="message.price">
        </div>
        <div class="form-group">
            <label for="exampleInputFile">File input</label>
            <input type="file" id="exampleInputFile">
            <p class="help-block">Example block-level help text here.</p>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Check me out
            </label>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <button id="btn" class="btn btn-default">abc</button>
</div>
<!--<script src="dist/index.bundle.js"></script>-->
</body>
</html>